button {
    all: unset;
}

input {
    all: unset;
}

.buttonPlayDiv {
    scale: 0.4;
}

.buttonplay {
    background-color: #ffffff00;
}

.button-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin-left: 150px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.game-logo {
    position: absolute;
    left: 0;
    height: 150px;
    scale: 1;
    justify-self: left;
    display: flex;
    justify-content: start;
    align-items: left;
    width: 30%;
}

.game-score {
    position: absolute;
    background-image: url(/assets/images/banners/currentscore.png);
    background-image: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100px;
}

.score {
    font-family: warcraft;
    font-size: 24px;
    color: white;
}

.game-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
.lost-screen{
    width: 50vw;
    height: 80vh;
    position: absolute;
    bottom:0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.you-died-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.icon-died {
    background-image: url(/assets/images/icons/icondead.png);
    background-image: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.label-died {
    margin-top: 32px;
    font-family: warcraft;
    color: white;
    font-size: 26px;
}

.result {
    display: flex;
    flex-direction: row;
}

.value {
    margin-top: 30px;
    font-family: warcraft;
    color: white;
    font-size: 38px;
}

.value-icon {
    margin-top: 25px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.value-icon2 {
    margin-top: 25px;
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

.value-sign {
    margin-top: 35px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 20px;
}
.play-again{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index:2;
    background-image: url(/assets/images/background/backgroundwowara2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-color: #666666;

}

.final-score {
    position: absolute;
    background-image: url(/assets/images/banners/finalscore.png);
    background-image: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    font-family: warcraft;
    font-size: 26px;
    color: white;
}

.final-title {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    font-family: warcraft;
    font-size: 26px;
    color: white;
}

.play-again-button {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    scale: 0.4;
}

.input-label {
    font-family: warcraft;
    font-size: 26px;
    color: white;
}

.username-input {
    margin-left: 4px;
    background-image: url(/assets/images/banners/currentscore.png);
    background-image: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 60px;
    padding-left: 28px;
    color: white;
    padding-bottom: 3px;
}


.highest-scores {
    width: 350px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;

}

.highest-score-label {
    background-image: url(/assets/images/banners/highestscores.png);
    background-image: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 180px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.highest-score-value {
    margin-left: 50px;
    font-family: warcraft;
    font-size: 22px;
    color: white;
}

.score-value {
    display: flex;
    flex-direction: row;
}