<div class="main-container" *ngIf="!isPlaying" >
    <div class="logo-container">
      <img src="/assets/images/gamelogo/wowaralogo.png" />
    </div>
    <div class="button-container">
      <p class="input-label">Username</p>
      <input maxlength="12" class="username-input" [(ngModel)]="playerName" type="text">
      <div class="buttonPlayDiv" *ngIf="!isPlaying" (click)="play()">
        <button class="buttonplay">
          <img src="/assets/images/buttons/buttonplay.png" />
        </button>
      </div>
    </div>
  </div>
  
  <!-- [ngStyle]="{'background-image' : 'url(' + 'assets/images/background/backgroundwowara2.png)'}" -->
  <div *ngIf="isPlaying" >
    <div class="game-container" >
      <div class="game-header">
        <div class="game-logo">
          <img src="/assets/images/gamelogo/wowaralogo.png" />
        </div>
        <div class="game-score">
          <div class="score">{{ score }}</div>
        </div>
      </div>
      <div class="game-body">
        <div class="game-player">
          <app-creature
            [isPlayerCreature]="true"
            [creature]="creaturePlayer"
            (playerChoseOption)="checkIfCorrect($event)"
          ></app-creature>
        </div>
        <div class="game-opponent">
          <app-creature
              *ngIf="!youLost && !isCorrect"
            [isPlayerCreature]="false"
            [creature]="creatureOpponent"
            (playerChoseOption)="checkIfCorrect($event)"
          ></app-creature>
        </div>
      </div>
    </div>
  
    <div *ngIf="youLost" class="lost-screen">
      <div class="you-died">
          <div class="you-died-label">
            <div class="icon-died"></div>
            <p class="label-died">you died...</p>
          </div>
          <div class="result">
              <img class="value-icon" src="/assets/images/icons/iconpower.png">
              <p class="value">{{creaturePlayer?.attack}}</p>
              <div>
                  <img *ngIf="wasStronger" class="value-sign" src="/assets/images/icons/icongreater.png">
                  <img *ngIf="!wasStronger" class="value-sign" src="/assets/images/icons/iconsmaller.png">
              </div>
              
              <p class="value">{{creatureOpponent?.attack}}</p>
              <img class="value-icon2" src="/assets/images/icons/iconpower.png">
          </div>
      </div>
    </div>
  </div>
  
  <div *ngIf="isCorrect" class="lost-screen">
      <div class="you-died">
          <div class="you-died-label">
            <div class="icon-died"></div>
            <p class="label-died">GOOD JOB!</p>
          </div>
          <div class="result">
              <img class="value-icon" src="/assets/images/icons/iconpower.png">
              <p class="value">{{creaturePlayer?.attack}}</p>
              <div>
                  <img *ngIf="wasStronger" class="value-sign" src="/assets/images/icons/icongreater.png">
                  <img *ngIf="!wasStronger" class="value-sign" src="/assets/images/icons/iconsmaller.png">
              </div>
              
              <p class="value">{{creatureOpponent?.attack}}</p>
              <img class="value-icon2" src="/assets/images/icons/iconpower.png">
          </div>
      </div>
    </div>

    <div *ngIf="playAgainScreen" class="play-again">
        <div class="logo-container">
            <img src="/assets/images/gamelogo/wowaralogo.png" />
          </div>
        <div class="final-score">{{"Final Score:" + score}}</div>
        <div>
            <p class="final-title">Hemet Nesingwary is proud of you!</p>
        </div>
        <button class="play-again-button" (click)="playAgain()"> <img src="/assets/images/buttons/buttonplayagain.png" /></button>
    </div>
