<div class="main-container" *ngIf="!isPlaying">
  <div class="logo-container">
    <img src="/assets/images/gamelogo/wowaralogo.png" />
  </div>
  <div class="button-container">
    <div class="buttonPlayDiv" *ngIf="!isPlaying" (click)="play()">
      <button class="buttonplay">
        <img src="/assets/images/buttons/buttonplay.png" />
      </button>
    </div>
  </div>
</div>

<div *ngIf="isPlaying">
  <div class="game-container">
    <div class="game-header">
      <div class="game-logo">
        <img src="/assets/images/gamelogo/wowaralogo.png" />
      </div>
      <div class="game-score">
        <div class="score">{{ score }}</div>
      </div>
    </div>
    <div class="game-body">
      <div class="game-player">
        <app-creature
          [isPlayerCreature]="true"
          [creature]="creaturePlayer"
          (playerChoseOption)="checkIfCorrect($event)"
        ></app-creature>
      </div>
      <div class="game-opponent">
        <app-creature
          [isPlayerCreature]="false"
          [creature]="creatureOpponent"
          (playerChoseOption)="checkIfCorrect($event)"
        ></app-creature>
      </div>
    </div>
  </div>

  <div *ngIf="youLost" class="lost-screen">
    <div class="you-died">
        <div class="you-died-label">
          <div class="icon-died"></div>
          <p class="label-died">you died...</p>
        </div>
        <div class="result">
            <img class="value-icon" src="/assets/images/icons/iconpower.png">
            <p class="value">{{creaturePlayer.attack}}</p>
            <div>
                <img class="value-sign" src="/assets/images/icons/icongreater.png">
                <img class="value-sign" src="/assets/images/icons/iconsmaller.png">
            </div>
            
            <p class="value">{{creatureOpponent.attack}}</p>
            <img class="value-icon2" src="/assets/images/icons/iconpower.png">
        </div>
    </div>
  </div>
</div>
