.lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
  padding: 30px;
  list-style: none;
  color: white;
  gap: 30px;
}
.family-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
  color: white;
}

.family {
  display: flex;
  width: 200px;
  height: 150px;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
  // padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgb(41, 54, 49);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  img {
    margin-top: 5px;
    width: 100%;
    max-width: 100px;
    margin-bottom: 10px;
  }
}

.family:hover {
  background-color: rgb(56, 68, 64);
}

.creature-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}

.creature {
  display: flex;
  width: 300px;
  height: 150px;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
  // padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgb(29, 38, 34);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  img {
    margin-top: 5px;
    width: 100%;
    max-width: 100px;
    margin-bottom: 10px;
  }
}

.creature:hover {
  background-color: rgb(71, 60, 61);
}

.all-creatures {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 -10px;
  padding: 0;
  list-style: none;
}
